#music-box-container {
    position: fixed;
    bottom: 20px;
    right: 15px;
    @include md{
        bottom: 30px;
        right: 30px;
    }
    #music {
        #box {
            cursor: pointer;
            transition: 0.25s;
        }

    }
}