#music-box-container {
    position: fixed;
    bottom: 20px;
    right: 15px;

    @include md {
        bottom: 30px;
        right: 30px;
    }

    #music {
        #box {
            cursor: pointer;
            transition: 0.25s;

            #note-1{

            }

            #note-2{

            }

            #note-3{

            }

            #note-4{

            }

            #note-5{

            }
        }

    }

    .animating {
        animation: bounce 3s;
    }

    @keyframes bounce {
        8% {
            transform: translateY(-10px);
        }

        10% {
            transform: translateY(0px);
        }

        15% {
            transform: translateY(-8px);
        }

        19% {
            transform: translateY(0px);
        }

        21% {
            transform: translateY(-4px);
        }

        24% {
            transform: translateY(0px);
        }

        26% {
            transform: translateY(-1px);
        }

        27% {
            transform: translateY(0px);
        }
    }
}