/* =============
    Pop-up
============= */
#pop-up{
    // display: none;
    position: fixed;
    background-color: rgba($color:black, $alpha: 0.4);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    >div{
        position: relative;
        overflow: hidden;
        width: 90%;
        height: auto;
        background-color: white;
        z-index: 1;
        @include md{
            width: 700px;
        }
        i{
            position: absolute;
            z-index: -1;
            left: -140px;
            top: -100px;
            color: $yellow;
            font-size: 280px;
            @include md{
                z-index: 1;
                left: -145px;
                top: 100px;
                font-size: 300px;
                color: $hotpink;
            }
            -webkit-animation: rotation 2s infinite linear;
            
            @-webkit-keyframes rotation {
                from {
                        -webkit-transform: rotate(0deg);
                }
                to {
                        -webkit-transform: rotate(359deg);
                }
            }
        }
        #X{
            z-index: 200;
            position: absolute;
            top: 15px;
            right: 15px;
            @include md{
                top: 30px;
                right: 30px;
            }
        }
        #handle{
            display: none;
            @include md{
                display: block;
                position: absolute;
                top: -30px;
                z-index: 2;
                left: 80px;
                transform:rotate(20deg)
            }
        }
        #waves{
            display: none;
            @include md{
                display: block;
                position: absolute;
                top: 0;
                left: -20px;
                z-index: -1;
                width: 50%;
            }
        }
        #form{
            display: flex;
            justify-content: center;
            margin: 20px 0 40px 0;
            @include md{
                justify-content: flex-end;
                margin: 10px 80px 50px;
            }
            form{
                width: 80%;
                @include md{
                    width: 60%;
                }
                .input{
                    position: relative;
                }
                .input-path-container{
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            section{
                // border: 1px red solid;
                input, textarea{
                    background-color: transparent;
                    font-family: 'Nunito', sans-serif;
                    font-weight: 400;
                    font-size: rem-calc(16);
                    width: 100%;
                    padding: 20px 0;
                }
                ::placeholder {
                    /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $green;
                    opacity: 1;
                    
                }
        
                :-ms-input-placeholder {
                    /* Internet Explorer 10-11 */
                    color: $green;
                }
        
                ::-ms-input-placeholder {
                    /* Microsoft Edge */
                    color: $green;
                }
                .bottom-border{
                    height:2px;
                    width: 100%;
                    background-color: $green;
                }
            }
            :nth-child(4){
                border-bottom: none;
            }
            :nth-child(5){
                border-bottom: none;
                :hover{
                    transition: 0.25s;
                    color: $hotpink;
                    background-color: $yellow;
                }
            }
        }
        
    }
    
    h2{
        padding-top: 50px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-weight: 800;
        font-style: italic;
        color:$hotpink;
        @include md{
            padding-top:30px;
        }
    }

    h3{
        padding: 20px 0;
        text-align: center;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        font-style: italic;
        color: $hotpink;
    }
    #description{
        padding: 0 60px;
        @include md{
            padding: 0;
        }
    }
}
        